@use '@breakpoints' as breakpoints;

.pointProgramContainer {
  @include breakpoints.tablet {
    flex-direction: column !important;
  }
}

.classContainer {
  @include breakpoints.tablet {
    flex-direction: column !important;
    align-items: flex-end !important;
  }
}

.pageDescription {
  color: #94a3b8;
}

.card {
  width: 100%;
  box-sizing: border-box;
}

.title {
  color: #010101;
}

.value {
  color: #196bff;
  white-space: nowrap;
}

.additionalInfo {
  color: #01010166;
}

.pointBlockDescription {
  color: #7b8c9d;
}

.seasonDescription {
  color: #7b8c9d;
  padding-top: 12px;
}

.progressBarContainer {
  width: 100%;
  padding-top: 24px;
}
