@use '@breakpoints' as breakpoints;

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 24px;
  gap: 100px;
  flex-shrink: 0;

  @include breakpoints.tablet {
    gap: 20px;
  }

  @include breakpoints.mobile {
    padding: 24px 16px;
  }
}
