:root {
  --spacings-2: 2px;
  --spacings-4: 4px;
  --spacings-8: 8px;
  --spacings-12: 12px;
  --spacings-14: 14px;
  --spacings-16: 16px;
  --spacings-20: 20px;
  --spacings-22: 22px;
  --spacings-24: 24px;
  --spacings-28: 28px;
  --spacings-32: 32px;
  --spacings-36: 36px;
  --spacings-40: 40px;
  --spacings-44: 44px;
  --spacings-48: 48px;
  --spacings-56: 56px;
  --spacings-64: 64px;
  --spacings-68: 68px;
  --spacings-70: 70px;
  --spacings-80: 80px;
  --spacings-96: 96px;
  --spacings-100: 100px;
  --spacings-184: 184px;
}
