@use '@breakpoints' as breakpoints;

.bannerCard {
  padding: 16px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.customLink {
  text-decoration: none !important;
  cursor: pointer;

  @include breakpoints.mobile {
    width: 100%;
  }
}

.image {
  border-radius: 10px 10px 0 0;

  @include breakpoints.mobile {
    width: 100% !important;
    height: auto !important;
  }
}

.secondary {
  color: #64788c;
}
