@use '@breakpoints' as breakpoints;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.xxs {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 12px;

  @include breakpoints.laptop {
    font-size: 14px;
  }
}

.xs {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 40px;

  @include breakpoints.laptop {
    font-size: 14px;
  }
}

.s {
  font-size: 14px;
  font-weight: 500;
  padding: 12px 26px;

  @include breakpoints.laptop {
    font-size: 14px;
  }
}

.m {
  font-size: 16px;
  font-weight: 600;
  padding: 14px 28px;

  @include breakpoints.laptop {
    font-size: 16px;
  }
}

.primary {
  background: var(--primary);
  opacity: 0.9;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);

  color: var(--button-primary-text);
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
    box-shadow: var(--button-primary-box-shadow);
  }
}

.secondary {
  background: var(--card-bg);
  border: 1px solid var(--button-secondary-border);
  opacity: 0.9;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */

  color: var(--content-primary);
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
    box-shadow: var(--button-secondary-box-shadow);
  }
}
