@use '@breakpoints' as breakpoints;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.sm {
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  padding: 4px 14px;
}

.md {
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  padding: 8px 16px;
}

.lg {
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  padding: 12px 20px;
}

.primary {
  background: #196aff;
  color: #ffffff;
  transition: all 0.3s ease;

  &:hover {
    background-color: #007dff;
  }

  &:active {
    background-color: #2656ec;
  }

  &:disabled {
    background-color: #eceef2;
    color: #cfd7dd;
  }
}

.outline {
  background: transparent;
  border: 1px solid #88c7ff;
  color: #030303;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e2f1ff;
    border-color: #e2f1ff;
  }

  &:active {
    border-color: #b9dcff;
    background-color: #b9dcff;
  }

  &:disabled {
    border-color: #cfd2df;
    background-color: transparent;
    color: #cfd7dd;
  }
}

.text {
  background: transparent;
  color: #030303;
  transition: all 0.3s ease;

  &:hover {
    background-color: #eceef2;
  }

  &:active {
    background-color: #cfd7dd;
  }

  &:disabled {
    background-color: transparent;
    color: #cfd2df;
  }
}
