@use '@breakpoints' as breakpoints;

.root {
  font-weight: 400;
}

.level-1 {
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0;
}

.inline {
  display: inline-block;
}

.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
