@use '@breakpoints' as breakpoints;

.cardsContainer {
  @include breakpoints.tablet {
    flex-direction: column !important;
  }
}

.card {
  width: 100%;
  height: 60px;

  @include breakpoints.tablet {
    width: -webkit-fill-available;
  }
}

.contentContainer {
  height: 100%;
  & > div {
    height: 100%;
  }
}

.pageDescription {
  color: #64788c;
}

.lightText {
  color: #7b8c9d;

  span {
    color: #36b454;
  }
}

.valuePostifx {
  color: #7b8c9d;
  font-size: 16px;
  font-weight: 400;
}

.cardValue {
  color: #030303;
  font-weight: 700;
}

.highlight {
  color: #196aff;
}

.secondaryHighlight {
  color: #64788c;
}

.vaultInfoCard {
  max-width: 500px;
}

.apyCard {
  padding: 12px 16px !important;
}

.grayText {
  color: #7b8c9d;
}

.aboutText {
  color: #7b8c9d;
  width: 100%;
}

.partnersBlock {
  padding: 16px 20px !important;
}

.daily {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  color: #64788c;
}

.tooltipApyInfo {
  border-radius: 5px;
  padding: 6px 8px;
  background-color: #00000033;
  box-sizing: border-box;
}

.tooltipApyDescription {
  color: #cfd7dd;
}

.mobilePointsCard {
  padding: 12px 16px !important;
  width: 100%;
}
