.card {
  width: 100%;
  height: 106px;
}

.contentContainer {
  height: 100%;
}

.pageDescription {
  color: #94a3b8;
}

.lightText {
  color: #7b8c9d;

  span {
    color: #36b454;
  }
}

.valuePostifx {
  color: #7b8c9d;
  font-size: 16px;
  font-weight: 400;
}

.cardValue {
  color: #030303;
  font-weight: 700;
}
