:root {
  --neutral-black-1000: #010101;
  --neutral-black-900: #010101e5;
  --neutral-black-800: #010101cc;
  --neutral-black-600: #010101;
  --neutral-black-400: #01010166;
  --neutral-black-005: #0101010d;
  --bg-dark-900: #0f1419e5;
  --bg-dark-200: #0f141933;

  // White
  --neutral-white-1000: #fefefe;
  --neutral-white-900: #fefefee5;
  --neutral-white-800: #fefefecc;
  --neutral-white-600: #fefefe99;
  --neutral-white-400: #fefefe66;
  --neutral-white-050: #f4f8fe0d;
  --neutral-white-005: #f4f8fe05;

  --accent-1000: #196bff;
  --accent-975: #196bfff9;
  --accent-200: #196bff33;
  --accent-100: #196bff1a;

  --neutral-light-1000: #f4f8fe;
  --card: #ffffff99;
  --card-inverted: #00000099;
  --transparent: transparent;

  --white: #fff;
  --black: #000;
}
