.layout {
  display: flex;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.aside {
  width: 228px;
  flex-shrink: 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
