.container {
  position: relative;
  display: flex;
  align-items: center;

  // Firefox
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  &.fullWidth {
    width: 100%;
  }
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.input {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #cfd7dd;
  border-radius: 10px;
  box-sizing: border-box;
  color: #030303;

  &.sm {
    padding: 6px 12px;
  }

  &.md {
    padding: 14px 12px;
  }

  // Chrome
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus-visible {
    border-color: #196aff;
    outline: unset;
    background-color: var(--background-secondary);
  }

  &::placeholder {
    color: #64788c;
  }

  &.error {
    border-color: #d21a13;
  }

  &.withIcon {
    padding-left: 30px;
  }

  &.withPrefix {
    padding-left: 40px;
  }

  &.withPostfix {
    padding-right: 40px;
  }

  &.textAlignLeft {
    text-align: left;
  }

  &.textAlignCenter {
    text-align: center;
  }

  &.textAlignRight {
    text-align: right;
  }

  &.fullWidth {
    width: 100%;
  }
}

.primary {
  color: #030303;
}

.secondary {
  background: rgba(246, 246, 246, 1);
  color: rgba(146, 146, 146, 1);

  &:focus-visible {
    border: unset;
    outline: unset;
    background-color: rgba(246, 246, 246, 1);
  }
  &::placeholder {
    color: rgba(146, 146, 146, 1);
  }
}

.icon {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 8px;
  left: 4px;
  transform: translate(50%, 50%);
  * {
    width: 100%;
    height: 100%;
  }
}

.prefix {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

.postfix {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}
