.depositTitle {
  color: rgba(153, 160, 174, 1);
}

.depositValue {
  color: rgba(3, 3, 3, 1);
}

.description {
  color: rgba(146, 146, 146, 1);
}

.descriptionValue {
  color: rgba(3, 3, 3, 1);
}

.positive {
  color: rgba(73, 176, 117, 1);
}

.negative {
  color: rgba(232, 104, 100, 1);
}

.greenIndicator {
  width: 4;
  height: 4;
  border-radius: 50%;
  background: rgba(73, 176, 117, 1);
}

.doneButton {
  width: 100%;
}
