.container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  grid-area: 2 / 2 / 3 / 3;
}

.sessionsChartTitle {
  color: #030303b2;
}

.totalValue {
  color: #030303;
  font-size: 20px;
  font-weight: 700;
}

.tooltipContainer {
  background: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}

.tooltipValue {
  font-size: 16px;
  font-weight: 400;
  color: #030303;
}

.tooltipDate {
  font-size: 10px;
  color: #03030366;
  margin-top: 4px;
}
