.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chartTitle {
  color: #030303b2;
}

.dateRangeOption {
  color: #030303;
}

.revenueTooltip {
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  backdrop-filter: blur(100px);
  box-shadow: 0px 1px 2px 0px #0a0d1408;
}

.tooltipDate {
  color: #64788c;
}

.container :global(.recharts-surface) {
  outline: none !important;

  &:focus {
    outline: none !important;
  }

  &:focus-visible {
    outline: none !important;
  }
}

.tooltipChange {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 10px;
  opacity: 1;
  border-radius: 2px;
  padding: 2px 4px;
  background-color: #e6f7eb;
  color: #36b454;

  &.negative {
    color: red;
  }
}

.apyLegendCircle {
  width: 8px;
  height: 8px;
  margin: 6px;
  border-radius: 50%;
  background-color: #f57c00;
}

.profitLegendCircle {
  width: 8px;
  height: 8px;
  margin: 6px;
  border-radius: 50%;
  background-color: #b9dcff;
}

.marketValueLegendCircle {
  width: 8px;
  height: 8px;
  margin: 6px;
  border-radius: 50%;
  background-color: #ffd4a8;
}

.secondary {
  color: #64788c;
}

.legendBlock {
  padding-left: 65px;
}
