.buttonContainer {
  button {
    width: 100%;
  }
}

.divider {
  background-color: #e2f1ff;
  height: 1px;
  width: 100%;
}

.secondary {
  color: #64788c;
}

.swapBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.apyBlock {
  padding: 4px 8px;
  background-color: #f5faff;
  border-radius: 5px;
  border: 1px solid #e2f1ff;
}

.earningsBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-sizing: border-box;

  width: 100%;
  padding: 8px 12px;
  background-color: #f5faff;
  border-radius: 10px;
  border: 1px solid #e2f1ff;
}
