.buttonContainer {
  button {
    width: 100%;
  }
}

.divider {
  background-color: #eceef2;
  height: 1px;
  width: 100%;
}

.highlight {
  color: #196bff;
}

.secondary {
  color: #64788c;
}

.swapBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #e2f1ff;
  box-sizing: border-box;

  padding: 16px;
  border: 1px solid #88c7ff;
  border-radius: 13px;
}
