.buttonContainer {
  width: 34px;
  height: 34px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;

  &:hover {
    background-color: #c5ddfe;
  }
}
