.buttonContainer {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  border-radius: 50%;
  background-color: #ffffff99;
  border: 1px solid #fff;
  transition: 0.3s;

  &:hover {
    background-color: #fff;
  }
}
