@use '@breakpoints' as breakpoints;

.aside {
  width: 228px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoints.tablet {
    display: none;
  }
}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menuItem {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: var(--spacings-8);
  padding: var(--spacings-12) var(--spacings-16);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  text-decoration: unset;

  p {
    color: #64788c;
  }

  svg > path {
    transition: 0.3s;
  }

  &:hover {
    background-color: var(--background-secondary);

    p {
      color: #030303;
    }

    svg > path {
      stroke-opacity: 1;
    }

    svg > g > path {
      stroke-opacity: 1;
    }
  }

  &.active {
    background-color: #ffffff;
    font-weight: 500;

    p {
      color: #030303;
    }

    svg > path {
      stroke: #196aff;
      stroke-opacity: 1;
      stroke-width: 2;
    }

    svg > g > path {
      stroke-opacity: 1;
      stroke-width: 2;
      stroke: #196aff;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    color: #b1bbc6;

    svg > path {
      stroke-opacity: 0.5;
    }

    svg > g > path {
      stroke-opacity: 0.5;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      opacity: 0.6;
    }
  }
}

.link {
  text-decoration: unset;
  color: #030303;
}

.secondary {
  color: #7b8c9d;

  &:hover {
    text-decoration: underline;
    color: #196aff;
  }
}
