@use '@breakpoints' as breakpoints;

.root {
  font-weight: 400;
}

.level-1 {
  font-size: 20px;
  line-height: 28px;
}

.level-2 {
  font-size: 16px;
  line-height: 20px;
}

.level-3 {
  font-size: 14px;
  line-height: 20px;
}

.level-4 {
  font-size: 12px;
  line-height: 12px;
}

.inline {
  display: inline-block;
}

.semibold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
