.card {
  position: relative;
  box-sizing: border-box;

  &.primary {
    background: rgba(255, 255, 255, 0.6);
    padding: 24px;
    border-radius: 20px;
    border: 1px solid white;
  }

  &.secondary {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  }

  &.block {
    width: 100%;
  }
}
