.timeRangeSelector {
  display: flex;
  gap: 4px;
  padding: 4px;
}

.timeRangeButton {
  padding: 4px;
  width: 67px;
  border-radius: 6px;
  color: #99a0ae;
  font-size: 14px;
  transition: 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }

  &.active {
    background: #ffffff;
    color: #0e121b;
  }
}
