@use '@breakpoints' as breakpoints;
@include scrollbar.hide-scrollbar();

.pageContainer {
  padding: 0 24px 24px 0;
  min-height: 73vh;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  @include breakpoints.laptop {
    padding: 10px 60px;
  }

  @include breakpoints.tablet {
    padding: 10px 16px;
  }
}
