.container {
  padding: 8px 12px;
  border-radius: 1000px;
  background: linear-gradient(
    93.94deg,
    rgba(16, 185, 129, 0.15) -42.28%,
    rgba(5, 150, 105, 0.15) 133.03%
  );
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: rgba(5, 150, 105, 1);
}
