.container {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #fff;
  background-color: #ffffff99;
}

.button {
  padding: 4px;
  width: 67px;
  border-radius: 6px;
  color: #99a0ae;
  font-size: 14px;
  transition: 0.3s;

  &:hover {
    background: #e2f1ff;
  }

  &.active {
    background: #ffffff;
    box-shadow: 0px 1px 3px 0px #00000017;
    color: #196aff;
  }
}
